.App {
  text-align: center;
}

/*body {*/
/*  background-image: url('/src/images/img1.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  !* Set background image to fixed (don't scroll along with the page) *!*/
/*  background-attachment: fixed;*/
/*}*/

img {
  width: 150px;
  margin: 10px;
}
@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/src/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Mono', sans-serif;
}

nav {
  font-family: 'Roboto Mono', sans-serif;
}
table {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


body {
  font-family: 'Roboto Mono', monospace;
}

.MuiTableCell-root,
.MuiTableHead-root,
.MuiTableBody-root {
  font-family: 'Roboto Mono', monospace;
}
input {
  border: 1px solid #896c63;
  border-radius: 8px;
  padding: 8px;
}
/*button {*/
/*  font-family: 'RobotoMono-Regular', monospace !important;*/
/*background-Color: #896c63 !important;*/
/*width: 180px !important;*/
/*height: 40px !important;*/
/*font-weight: 600 !important;*/
/*border-Width: 2px !important;*/
/*  border-radius: 8px !important;*/
/*  !*font-family: monospace !important;*!*/
/*  !*font-weight: 600 !important;*!*/
/*  !*color: #fbf6f4 !important;*!*/
/*  !*background-color: #896c63 !important;*!*/
/*  !*width: 180px !important;*!*/
/*  !*height: 40px !important;*!*/
/*  !*border: 2px solid #1976d2 !important;*!*/
/*  !*border-radius: 5px !important;*!*/
/*  !*font-size: 12px !important;*!*/
/*}*/


/*button:hover {*/
/*  background-color: #1976d2;*/
/*  color: #fff;*/
/*}*/

