body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px;
  margin: 10px;;
}

/*.component-1 {*/
/*  background-image: url('/src/images/img1.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-2 {*/
/*  background-image: url('/src/images/img2.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-3 {*/
/*  background-image: url('/src/images/img3.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-4 {*/
/*  background-image: url('/src/images/img4.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-5 {*/
/*  background-image: url('/src/images/img5.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-6 {*/
/*  background-image: url('/src/images/img6.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/
/*.component-7 {*/
/*  background-image: url('/src/images/img7.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-8 {*/
/*  background-image: url('/src/images/img8.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/

/*.component-9 {*/
/*  background-image: url('/src/images/img9.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-attachment: fixed;*/
/*}*/